body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.newspaper-article {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    background-image: url('old_newspaper_texture.jpg'); /* Zamijenite 'old_newspaper_texture.jpg' sa stvarnom putanjom do slike */
    background-repeat: repeat;
}

.headline {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.subheadline {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}
.slika{
    float: right; /* Poravnajte sliku na desnu stranu */
    width: 35%; /* Prilagodite širinu prema vašim potrebama */
    margin-left: 20px;
}

.article-text {
    text-align: justify;
    margin-bottom: 20px;

}

.confirmation-text {
    font-weight: bold;
    margin-bottom: 10px;
}

.confirmation-form {
    text-align: left;
}

.confirmation-form label {
    font-weight: bold;
}

.confirmation-form input {
    margin-bottom: 10px;
    padding: 5px;
}

.schedule {
    margin-top: 20px;
}

.schedule h2 {
    font-size: 24px;
    font-weight: bold;
}

.contact-information {
    margin-top: 20px;
}

.contact-information p {
    font-weight: bold;
}
